@font-face {
    font-family: 'GI_Font';
    src: url('../../asset/fonts/zh-cn.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../../asset/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1,
h2,
p {
    font-family: 'GI_Font';
    color: #fff;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    background-color: rgb(45, 53, 49);
}

.ban-character {
    font-family: 'GI_Font';
    color: #fff;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* mine plus button*/
button.pm {
    font-family: 'GI_Font';
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: #ccc;
    border: 0;
    outline: none;
    border-radius: 50%;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    -webkit-transform: all .3s ease;
    -moz-transform: all.3s ease;
}

button:hover.pm {
    background-color: #2196F3;
    color: #fff;
}

input {
    font-family: 'GI_Font';
    display: inline-block;
    width: 20px;
    margin: 0px 20px;
    padding: 10px 20px;
    border: 0;
    outline: none;
}

/* list ban pick */
.sortable-list {
    max-width: 300px;
    margin: 0 auto;
}

.list-bp {
    font-family: 'GI_Font';
    color: #fff;
    font-size: larger;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-family: 'GI_Font';
    background-color: #2196F3;
    padding: 10px;
    margin: 5px;
    cursor: grab;
}

/*confirm button*/
button.confirm {
    font-family: 'GI_Font';
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 22px;
    background-color: #ccc;
    border: 0;
    outline: none;
    border-radius: 10%;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

button:hover.confirm {
    background-color: #2196F3;
    color: #fff;
}