@font-face {
    font-family: 'GI_Font';
    src: url('../../../../asset/fonts/zh-cn.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-image: url('../../../../asset/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: lightblue;
    text-align: center;
}

h1,
h2,
p {
    font-family: 'GI_Font';
    color: #fff;
}

.roomContainer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.roomTitleBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.roomContainer .roomTeamReady {
    align-items: center;
    display: flex;
    flex-basis: 35%;
    flex-direction: row-reverse;
    position: relative;
}

.roomContainer .roomTeamReady:last-child {
    flex-direction: row;
}

.roomContainer .roomTeamName {
    color: #fff;
    font-family: 'GI_Font';
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 10;
}

.roomContainer .roomTeamBackground {
    height: 100%;
    position: absolute;
    transition: width .5s ease;
    width: 100%;
}

.roomContainer .roomTeamBackgroundBlue {
    background-color: #0a4264;
    right: 0;
}

.roomContainer .roomTeamBackgroundRed {
    background-color: #be2038;
    left: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.verticalLine {
    border-left: thick solid #ffffff;
}

.ban-hud {
    position: fixed;
    top: 7%;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
}

.ban-slots {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ban-slot {
    width: 100px;
    height: 100px;
    /* border: 1px solid #fff; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url('../../../../asset/images/card-bg.svg'), url('../../../../asset/images/empty.svg');
    background-size: cover, 15px;
    background-position: center;
    background-repeat: no-repeat, no-repeat;
}

.ban-slot-left,
.ban-slot-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    justify-content: space-around;
}

.ban-slot-right {
    flex-direction: row-reverse;
}

.pick-hud {
    position: fixed;
    top: 47%;
    width: 100%;
    height: 25%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent black */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pick-slots {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
}

.pick-slot {
    width: 250px;
    height: 100px;
    display: flex;
    flex-basis: 100%;
    border: 1px solid #fff;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../../../asset/images/card-bg.svg'), url('../../../../asset/images/empty.svg');
    background-size: cover, 15px;
    background-position: center;
    background-repeat: no-repeat, no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.pick-slot img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%;
}

.pick-slot-left,
.pick-slot-right {
    /* display: flex; */
    flex-direction: row;
    gap: 10px;
    height: 100%;
    justify-content: space-around;
}

.pick-slot-right {
    flex-direction: column-reverse;
}

.character-filter {
    width: 1200px;
    height: 50px;
    display: flex;
    flex-basis: 100%;
    border: 1px solid #fff;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.character-list {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-basis: 100%;
    border: 1px solid #fff;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/*confirm button*/
button.confirm {
    font-family: 'GI_Font';
    display: inline-block;
    width: 150px;
    height: 30px;
    font-size: 22px;
    background-color: #ccc;
    border: 0;
    outline: none;
    border-radius: 10%;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

button:hover.confirm {
    background-color: #2196F3;
    color: #fff;
}

.banpick-player {
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
}