@font-face {
    font-family: 'HSR_Bold_Font';
    src: url('../../asset/fonts/DIN-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSR_Font';
    src: url('../../asset/fonts/DIN-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1A1530;
    font-family: 'HSR_Bold_Font', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.settings-container {
    max-width: 600px;
    margin: 10px;
    padding: 20px;
    background-color: #2E2A4A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.settings-card {
    background-color: #3E2C5A;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.settings-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 1%;
    font-family: HSR_Font, sans-serif;
}

input[type="number"] {
    width: 100px;
    margin: 1%;
    font-family: HSR_Font, sans-serif;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.scores-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.score-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-item label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.score-item input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 1%;
    font-family: HSR_Font, sans-serif;
    text-align: center;
}

.save-button {
    background-color: #6A4CA8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: HSR_Font, sans-serif;
}

.save-button:hover {
    background-color: #8A6FCF;
}